{% extends "layout.html" %}

{% block content %}

<div class="bg-wrapper"> 
    <a href="{{ url_for('learn', lesson_id='1.1') }}" class="store-button" style="top: 25%; left: 7%;">Cereal</a>
    <a href="{{ url_for('learn', lesson_id='2.1') }}" class="store-button" style="top: 18%; left: 38%;">Jam</a>
    <a href="{{ url_for('learn', lesson_id='3.1') }}" class="store-button" style="top: 50%; left: 20%;">Soda</a>
    <a href="{{ url_for('learn', lesson_id='4.1') }}" class="store-button" style="top: 60%; left: 80%;">Chips</a>
    <a href="{{ url_for('learn', lesson_id='5.1') }}" class="store-button" style="top: 55%; left: 55%;">Bananas</a>
    <a href="{{ url_for('learn', lesson_id='6.1') }}" class="store-button" style="top: 75%; left: 37%;">Eggs</a>
    <a href="{{ url_for('learn', lesson_id='7.1') }}" class="store-button" style="top: 25%; left: 77%;">Milk</a>
</div>

{% endblock %}