<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">

    <!-- jquery -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>  
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

  </head>

  <body>
    <div class="container d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
      <div class="content-box">
        <h2 class="mb-4">Welcome to the grocery store!</h2>
        <h2>You have a long grocery list today!</h2>
        <h2>But first…</h2>
        <h2>Explore the store to learn</h2>
        <h2>how they're tricking you.</h2>
        <a href="{{ url_for('homepage') }}" class="btn-custom-gray">Explore Store</a>
      </div>
    </div>
  </body>


</html>