<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">

    <!-- jquery -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>  
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

  </head>
  <body>
    <nav class="navbar navbar-light px-3">
      <div class="d-flex justify-content-start">
        <a class="btn-custom-white me-3" href="{{ url_for('homepage') }}">Go to Store</a>
        <a class="btn-custom-white" href="{{ url_for('quiz', qid=1) }}">Ready to shop?</a>
      </div>
      <div class="navbar-brand text-center">SMART SHOPPING</div>
      <div class="d-flex justify-content-end">
        <button class="btn-custom-white" data-bs-toggle="modal" data-bs-target="#howToModal">How To Play</button>
      </div>
    </nav>

    <div class="modal fade" id="howToModal" tabindex="-1" aria-labelledby="howToModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="howToModalLabel">How To Play</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- Random Text for Now -->
            <p>Welcome to the grocery store - you have a long grocery list today...</p>
            <p>First, explore the products in the different sections of the store and learn how they're tricking you.</p>           
            <p>Then, when you're ready, go shopping!</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Placeholder for child templates -->
    <div>
      {% block content %}
      {% endblock %}
    </div>

    <script src="{{ url_for('static', filename='homepage.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>


  </body>
</html>