{% extends "layout.html" %}

{% block content %}
<div class="text-center mt-5 content-box-learn">
    <h2>Trick: {{ product.title }}</h2>
    <p>{{ product.description }}</p>
    <img src="{{ product.image }}" alt="{{ product.title }}" class="img-fluid my-3" style="max-height: 300px;">
    <div class="price-wrap">
        {% if product.id == 3.2 %}
            <span class="price-visual-contrast">$25  </span> <span class="striked-price">    $50</span>
        {% elif product.id == 4.3 %}
            <span class="price-original">$4.00  </span> <span class="striked-price">    $6.00</span> <span class="price-original"> | $4.49</span>
        {% elif product.id == 5.3 %}
            <span class="price-small">$6.99</span> | <span class="price-big">$6.99</span>
        {% else %}
            <span class="price-original">{{ product.price }}</class=price-original>
        {% endif %}
    </div>
    <br>

    {% set section, number = lesson_id.split('.') %}
    {% set section = section|int %}
    {% set number = number|int %}

    {% if number < 3 %}
        {% set next_number = number + 1 %}
        {% set next_id = section|string + '.' + next_number|string %}
        <a href="{{ url_for('learn', lesson_id=next_id) }}" class="btn btn-primary mt-3">Next product</a>
    {% else %}
        <a href="{{ url_for('homepage') }}" class="btn btn-success mt-3">Back to Store</a>
    {% endif %}
</div>

<script src="{{ url_for('static', filename='learn.js') }}"></script>
{% endblock %}
