<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ready to Shop</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='quiz.css') }}">
</head>
<body class="quiz-intro-page">
  <div class="intro-container">
    <h2>But you only have 10 seconds to select each product!</h2>
    <p>Spend your time and your money wisely –<br>
       remember all the tactics you saw marketers use, and avoid being tricked!</p>
    <a href="{{ url_for('quiz') }}" class="start-button">Begin Shopping</a>
  </div>
</body>
</html>